.login_button {
  display: inline-block;
  background-color: #8bffd8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.login_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login_button:hover span {
  padding-right: 25px;
}

.login_button:hover span:after {
  opacity: 1;
  right: 0;
}
.hangar_button_up {
  display: inline-block;
  background-color: #8bffd8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2vw;
  padding: 1vw;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.hangar_button_up span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hangar_button_up span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hangar_button_up:hover span {
  padding-right: 25px;
}

.hangar_button_up:hover span:after {
  opacity: 1;
  right: 0;
}
/* Left section */

.ship_modules
{
    font-size: 15px;
    text-align: center;
}
.ship_modules_title
{
    font-size: 20px;
    text-align: center;
    font-family: 'The Darkest Night';
}

.available-container
{
    position: relative;
    width: 5em;
    height: 5em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    margin: auto;
}
.available-container .available_module_background
{
    position: relative;
    margin: auto;
    border: 2px solid lime;
    border-radius: 10px;
    background-color: greenyellow;
    width: 98%;
    height: 98%;
}
.available_module_background .available_module_image
{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}



/* Center section */
.circle-container
{
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 0px;
    border-radius: 50%;
    margin: 1.75em auto 0;
    font-size: 15px;
    font-family: 'The Darkest Night';
}
.circle-container z
{
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container c
{
    display: block;
    position: absolute;
    top: 40%; left: 40%;
    width: 10em; height: 10em;
    margin: -2em;
}
.circle-container img { display: block; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg35 { transform: rotate(35deg) translate(12em) rotate(-35deg); }
.deg70 { transform: rotate(70deg) translate(12.75em) rotate(-70deg); }
.deg90 { transform: rotate(90deg) translate(12em) rotate(-90deg); }
.deg90_far { transform: rotate(90deg) translate(20em) rotate(-90deg); }
.deg110 { transform: rotate(110deg) translate(12.75em) rotate(-110deg); }
.deg180 { transform: translate(-11em); }
.deg145 { transform: rotate(145deg) translate(12em) rotate(-145deg); }
.deg215 { transform: rotate(215deg) translate(12em) rotate(-215deg); }
.deg250 { transform: rotate(250deg) translate(12.75em) rotate(-250deg); }
.deg260 { transform: rotate(262deg) translate(17em) rotate(-262deg); }
.deg270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg280 { transform: rotate(278deg) translate(17em) rotate(-278deg); }
.deg290 { transform: rotate(290deg) translate(12.75em) rotate(-290deg); }
.deg325 { transform: rotate(325deg) translate(12em) rotate(-325deg); }

.module_background
{
    position: relative;
    border: 2px solid #0019f7;
    border-radius: 10px;
    background-color: #bdfffe;
    width: 98%;
    height: 98%;
}
.empty_module_background
{
    position: relative;
    border: 2px solid lime;
    border-radius: 10px;
    background-color: greenyellow;
    width: 98%;
    height: 98%;
}
.blocked_module_background
{
    position: relative;
    border: 2px solid red;
    border-radius: 10px;
    background-color: salmon;
    width: 98%;
    height: 98%;
}
.module_image
{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

.hull_background
{
    position: relative;
    border: 2px solid #0019f7;
    border-radius: 10px;
    background-color: #bdfffe;
    width: 98%;
    height: 98%;
}
.empty_hull_background
{
    position: relative;
    border: 2px solid lime;
    border-radius: 10px;
    background-color: greenyellow;
    width: 98%;
    height: 98%;
}
.hull_image
{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

.recycle_bin_background
{
    position: relative;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
    width: 98%;
    height: 98%;
}

/* Right section */
.ship_parameters
{
    font-size: 15px;
    text-align: center;
}
.ship_parameters_title
{
    font-size: 20px;
    text-align: center;
    font-family: 'The Darkest Night';
}

table.parameters_table
{
    font-family: 'Arial';
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}
.parameters_table tr:hover
{
  background: #f4f4f4;
}
.parameters_table tr:hover td
{
  color: #555;
}
.parameters_table th, .cool_table td
{
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
.parameters_table th
{
  background: #0a6f4d;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.parameters_table td
{
    width: 50%;
    vertical-align: central;
    border: 1px solid black;
}

.weapon_name_input
{
    background-color: transparent;
    border: 0px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 100%;
}
.parameter_field
{
    clear: both;
    text-align: center;
}
.parameter_input
{
    background-color: transparent;
    border: 0px;
    text-align: center;
    color: #0a6f4d;
    width: 100%;
}
.parameter_small_input
{
    background-color: transparent;
    border: 0px;
    text-align: center;
    color: #0a6f4d;
    width: 45%;
}



@font-face
{
    font-family: "The Darkest Night";
    src: url("../fonts/The Darkest Night Personal Use.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.cool_table2 {
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #0a6f4d;
  width:23vw;
}
.cool_table2 tr:hover {
  background: #f4f4f4;
}
.cool_table2 tr:hover td {
  color: #555;
}
.cool_table2 th, .cool_table td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
.cool_table2 th {
  background: #0a6f4d;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.cool_table2 th.last {
  border-right: none;
}
