  :root{
  --f-v:100%;
  --hp-v:100%;
}
.container {
  overflow:hidden;
  width: 90%;
  background-color: #ddd;
}

.js1 {
 text-align: right;
  padding-right: 20px;
  line-height: 20px;
  color: white;
  width: var(--f-v); background-color: #7c880f;
}
.js2 {
 text-align: right;
  padding-right: 20px;
  line-height: 20px;
  color: white;
  width: var(--hp-v); background-color: #f44336;
}
.game_button_up {
  display: inline-block;
  background-color: #0a6f4d;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 2vw;
  padding: 0vw;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.game_button_up span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.game_button_up span:after {
  content: '\00bb';
  position: absolute;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.game_button_up:hover span {
  padding-right: 25px;
}

.game_button_up:hover span:after {
  right: 0;
}
