  :root{
  --f-v:100%;
  --hp-v:100%;
}
.container {
  overflow:hidden;
  width: 90%;
  background-color: #ddd;
}

.js1 {
 text-align: right;
  padding-right: 20px;
  line-height: 20px;
  color: white;
  width: var(--f-v); background-color: #7c880f;
}
.js2 {
 text-align: right;
  padding-right: 20px;
  line-height: 20px;
  color: white;
  width: var(--hp-v); background-color: #f44336;
}
