.body_class
{
  background-color: #eafff7;
  margin:8px;
  margin-left:50px;
  margin-right:50px;
}
.error
{
    color: white;
    background: #688080;
    margin-left: 3px;
}
.login_button {
  display: inline-block;
  background-color: #8bffd8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.login_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login_button:hover span {
  padding-right: 25px;
}

.login_button:hover span:after {
  opacity: 1;
  right: 0;
}
.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #0a6f4d;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #0a6f4d;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #0a6f4d;
    outline: 0;
}
form.login label
{
    font-family: 'Open Sans' , sans-serif;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}
.instruction
{
  font-family: 'Open Sans' , sans-serif;
  width: 100%;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}
form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}
form.login input[type="reset"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #0a6f4d;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.login_button_up {
  display: inline-block;
  background-color: #8bffd8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2vw;
  padding: 1vw;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.login_button_up span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login_button_up span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login_button_up:hover span {
  padding-right: 25px;
}

.login_button_up:hover span:after {
  opacity: 1;
  right: 0;
}
