.main_img
{ 
    width:80%; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    display:block
}

.blue_color
{
    background: url('images/blue_color.jpg') no-repeat;
    background-size: 20px;
    padding-left: 25px;
    background-position: 0 6px;
}

.red_color
{
    background: url('images/red_color.jpg') no-repeat;
    background-size: 20px;
    padding-left: 25px;
    background-position: 0 6px;
}

.green_color
{
    background: url('images/green_color.jpg') no-repeat;
    background-size: 20px;
    padding-left: 25px;
    background-position: 0 6px;
}

.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 0px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container c {
    display: block;
    position: absolute;
    top: 40%; left: 40%;
    width: 10em; height: 10em;
    margin: -2em;
}
.circle-container img { display: block; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg30 { transform: rotate(30deg) translate(12em) rotate(-30deg); }
.deg70 { transform: rotate(70deg) translate(12em) rotate(-70deg); }
.deg90 { transform: rotate(90deg) translate(12em) rotate(-90deg); }
.deg110 { transform: rotate(110deg) translate(12em) rotate(-110deg); }
.deg180 { transform: translate(-12em); }
.deg150 { transform: rotate(150deg) translate(12em) rotate(-150deg); }
.deg210 { transform: rotate(210deg) translate(12em) rotate(-210deg); }
.deg250 { transform: rotate(250deg) translate(12em) rotate(-250deg); }
.deg270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg290 { transform: rotate(290deg) translate(12em) rotate(-290deg); }
.deg330 { transform: rotate(330deg) translate(12em) rotate(-330deg); }

.some
{
    text-align: right;
    padding-right: 50px;   
    padding-top: 10px;

}
canvas
{
    border:1px solid #000000;
    background-color: #000000;
}

table.three_columns
{
    width:  100%;
    border-spacing: 0;  /* Distance between cells */
}
table.three_columns td
{
    width: 33%;
    vertical-align: top;
}
td.center_col
{ 
    text-align: center;
}
td.right_col
{ 
    text-align: right;
}

.module_background
{
    position: relative;
    border: 2px solid #0019f7;
    border-radius: 10px;
    background-color: #bdfffe;
    width: 60px;
    height: 60px;
}
.module_image
{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-wigth: 60px;
    max-height: 60px;
}

.hull_background
{
    position: relative;
    border: 2px solid #0019f7;
    border-radius: 10px;
    background-color: #bdfffe;
    width: 150px;
    height: 150px;
}
.hull_image
{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-wigth: 150px;
    max-height: 150px;
}

p
{
    margin: 0;
    padding: 0;
    clear: both;
}
p:hover
{
    background-color: #efefef;
}

table.two_columns
{
    width: 300px; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
    border-bottom: none; /* Убираем линию снизу */
}
table.two_columns td, th
{
    padding: 3px; /* Поля вокруг содержимого ячеек */
}
table.two_columns th
{
    text-align: left; /* Выравнивание по левому краю */
    background: black; /* Цвет фона */
    color: white; /* Цвет текста */
    border: 1px solid white; /* Рамка вокруг ячеек */
}
table.two_columns td
{
    border-bottom: 1px solid black; /* Линия снизу */
}
