.main_img
{ 
    width:80%; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    display:block
}

.blue_color
{
    background: url('images/blue_color.jpg') no-repeat;
    background-size: 20px;
    padding-left: 25px;
    background-position: 0 6px;
}

.red_color
{
    background: url('images/red_color.jpg') no-repeat;
    background-size: 20px;
    padding-left: 25px;
    background-position: 0 6px;
}

.green_color
{
    background: url('images/green_color.jpg') no-repeat;
    background-size: 20px;
    padding-left: 25px;
    background-position: 0 6px;
}

.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 0px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container c {
    display: block;
    position: absolute;
    top: 40%; left: 40%;
    width: 10em; height: 10em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg30 { transform: rotate(30deg) translate(12em) rotate(-30deg); }
.deg70 { transform: rotate(70deg) translate(12em) rotate(-70deg); }
.deg90 { transform: rotate(90deg) translate(12em) rotate(-90deg); }
.deg110 { transform: rotate(110deg) translate(12em) rotate(-110deg); }
.deg180 { transform: translate(-12em); }
.deg150 { transform: rotate(150deg) translate(12em) rotate(-150deg); }
.deg210 { transform: rotate(210deg) translate(12em) rotate(-210deg); }
.deg250 { transform: rotate(250deg) translate(12em) rotate(-250deg); }
.deg270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg290 { transform: rotate(290deg) translate(12em) rotate(-290deg); }
.deg330 { transform: rotate(330deg) translate(12em) rotate(-330deg); }

.some
{
    text-align: right;
    padding-right: 50px;   
    padding-top: 10px;

}
canvas {
                border:1px solid #000000;
                background-color: #000000;
            }
