body
{
  background-color: #eafff7;
  margin-left: 50px;
  margin-right: 50px;
}
.main_img
{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    display:block
}

.some
{
    text-align: right;
    padding-right: 50px;
    padding-top: 10px;

}
canvas
{
    border:1px solid #000000;
    background-color: #000000;
}

table.three_columns
{
    width:  93%;
    border-spacing: 0;  /* Distance between cells */
}
table.three_columns td
{
    width: 31%;
    vertical-align: top;
}
td.center_col
{
    text-align: center;
}
td.right_col
{
    text-align: right;
}

table.two_columns
{
    width: 100%;
    border-spacing: 0;
}
table.two_columns td
{
    width: 50%;
    vertical-align: central;
}
td.right_col
{
    text-align: right;
}

table.four_columns
{
    width:  100%;
    border-spacing: 0;  /* Distance between cells */
}
table.four_columns td, th
{
    padding: 3px;
}
table.four_columns th
{
    background: black;
    color: white;
    border: 1px solid white;
}
table.four_columns td
{
    vertical-align: top;
    text-align: center;
    font-size: 70%;
    border: 1px solid black;
}
td.wide_col
{
    width: 40%;
    text-align: center;
}
td.last_col
{
    width: 10%;
    text-align: center;
}

.container
{
    height: 26vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

p
{
    margin: 0;
    padding: 0;
    clear: both;
}
p:hover
{
    background-color: #efefef;
}

table.ships_table
{
    width: 300px; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
    border-bottom: none; /* Убираем линию снизу */
}
table.ships_table td, th
{
    padding: 3px; /* Поля вокруг содержимого ячеек */
}
table.ships_table th
{
    text-align: left; /* Выравнивание по левому краю */
    background: black; /* Цвет фона */
    color: white; /* Цвет текста */
    border: 1px solid white; /* Рамка вокруг ячеек */
}
table.ships_table td
{
    border-bottom: 1px solid black; /* Линия снизу */
}

button.input_image
{
    border: 0px;
    padding: 0px;
    width:1.2vw;
    height:1.2vw;
    background-color: transparent;
}

.instruction
{
    font-size: 0.8em;
    color: #aaaaaa;
    margin-left: 2px;
    cursor: default;
}
.error
{
    color: white;
    background: #688080;
    margin-left: 3px;
}

.row
{
    margin: auto;
    margin-bottom: 10px;
    width: 220px;
}
.row label
{
    display: block;
    font-weight: bold;
}
.row input.text
{
    font-size: 1.2em;
    padding: 2px 5px;
}

.main_page_button {
  display: inline-block;
  background-color: #8bffd8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2em;
  font-size: 2vw;
  padding: 1vw;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.main_page_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.main_page_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.main_page_button:hover span {
  padding-right: 25px;
}

.main_page_button:hover span:after {
  opacity: 1;
  right: 0;
}

.main_search_field
{
    clear: both;
    text-align: right;
    margin-bottom: 2%;
    width: 100%;
}
.main_search_field .main_search_string
{
    width: 75%;
}
.main_search_field .main_search_button
{
    width: 23%;
}
.search_field
{
    clear: both;
    text-align: right;
}
.search_field label
{
    float: left;
    font-size: 1.1vw;
    text-align: left;
}
.small_input
{
    width: 30%;
}
.small_input::placeholder
{
  width: 30%;
  font-size: 1.1vw;
}
